@page
@model Pizzas.Pages.Admin.IndexModel
@{
}

<h2>Veuillez vous authentifier</h2>
<br />
@if (Model.InvalidConnection)
{
    <div class="alert alert-danger role="alert">Erreur: compte invalide</div>
}

<form method="post">
    <input type="text" name="username" placeholder="Login">
    <br />
    <br />
    <input type="password" name="password" placeholder="Mot de passe">
    <br />
    <br />
    <button>Se connecter</button>
</form>